<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>987659141370-ovda31sknofvo3diokjlf4fg8kj1kus4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.987659141370-ovda31sknofvo3diokjlf4fg8kj1kus4</string>
	<key>API_KEY</key>
	<string>AIzaSyD-KJ-LW9gWP6aUAB6L0GS8zxtqoFj6a8E</string>
	<key>GCM_SENDER_ID</key>
	<string>987659141370</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ZMarket.market</string>
	<key>PROJECT_ID</key>
	<string>zmarket-8d6ae</string>
	<key>STORAGE_BUCKET</key>
	<string>zmarket-8d6ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:987659141370:ios:08c469f345131b37920943</string>
	<key>DATABASE_URL</key>
	<string>https://zmarket-8d6ae.firebaseio.com</string>
</dict>
</plist>